@model BookStoreApplication.Models.Magazine

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Magazine</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Title
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            Type
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            Number of pages
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfPages)
        </dd>
        <dt class="col-sm-2">
            Price
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            Count in stock
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CountInStock)
        </dd>
        <dt class="col-sm-2">
            Publisher
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publisher.Name)
        </dd>
        <dt class="col-sm-10">
            If you want to order this magazine please call this phone number - 070020220
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
